.header_h1 {
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header_h2 {
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}

.slate {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}
.scroll_btn {
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.side_landing_text {
    bottom: -50%;
}
.cube-shadow {
    box-shadow: -10px 10px 0px rgba(33, 33, 33, 1), -15px 15px 0px rgba(33, 33, 33, 0.7);
    transition: background 0.1s;
}
.cube-shadow:hover {
    background: black;
}
.invisible_p {
    top: 200%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
    .special-cursor {
        cursor: url("../assets/pointhand.svg"), auto;   
    }
}