* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #18154c;
  --midnight-blue: #240c2e1a;
  --blue: #3c46fb;
  --blue-2: #333df0;
  --misty-rose: #ff8177;
  --white: white;
  --blue-violet: #8437fd;
  --orange: #ffe8ae;
  --lavender: #e8e9ff;
  --white-smoke: #e7e4e9;
  --light-sea-green: #00c2ab;
  --crimson: #da2b2b;
  --white-smoke-2: #f9f8f9;
  --white-2: #ffffff1a;
  --midnight-blue-2: #240c2e08;
}
.header_h1 {
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header_h2 {
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);    
}

.slate {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);    
}
.slate_right {
  top: 50%;
  right: 0%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);    
}
.slate_left {
  top: 50%;
  left: 0%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);    
}
.scroll_btn {
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.side_landing_text {
  bottom: -50%;
}
.cube-shadow {
  box-shadow: -10px 10px 0px rgba(33, 33, 33, 1), -15px 15px 0px rgba(33, 33, 33, 0.7);
  transition: background 0.1s;
}
.cube-shadow:hover {
  background: black;
}
.invisible_p {
  top: 200%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.brown_1 {
  background: rgba(166, 145, 92, 1);
  width: min(90vw, 90vh);
  height: min(90vw, 90vh);
}
.brown_2 {
  background: rgba(227, 186, 143, 1);
}
.brown_3 {
  background: rgba(243, 225, 107, 1);
}
@media screen and (min-width: 768px) {
  .special-cursor {
      cursor: url("./assets/pointhand.svg"), auto;   
  }
}
@media screen and (min-width: 400px) {
  .language_switcher {
    display: flex;
  }
}